@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3C4452;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}

small {
  display: block;
  font-size: 0.6em;
  color: #ccc;
}

input[type="number"] {
  width: 70px;
}
.rateAndWeeks {
  text-align: center;
}

@media (min-width: 481px) and (max-width: 767px) {
  .ui[class*="two column"].grid>.column:not(.row),
  .ui[class*="two column"].grid>.row>.column {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .ui[class*="two column"].grid>.column:not(.row),
  .ui[class*="two column"].grid>.row>.column {
    width: 100%;
  }
}
